/* Jessica Janiszewski */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root{
    /* Color Palette */
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dk-gray: #222;
    --lt-gray: #EAEAEA;
    --white: #fff;
    --black: #000;

    /* Fonts */
    --heading: "Molle", cursive;
    --body: "Montserrat", Verdana, sans-serif;
}

/* Global/mobile styles */
body{
    font-family: var(--body);
    font-size: 1rem;
    color: var(--dk-gray);
    box-sizing: border-box;
    line-height: 1.5;
}

/* Skip link styles */
#skip, .sr-only{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus{
    display: block;
    padding: 16px;
	position: static;
	width: auto;
	height: auto;
	display: block;
	font-size: 1.3rem;
	font-weight: bold;
    color: var(--dk-gray);
	outline: 4px solid var(--yellow);
    outline-offset: 0;
}

header{
    background: linear-gradient(var(--teal), var(--white));
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0.5rem 0;
}

footer{
    padding: 1.5rem 2rem 2rem;
}

/* Text styles */
h1, h2, h3{
    font-family: var(--heading);
}

h1{
    font-size: 2.25rem;
    padding: 0.5rem 1.75rem 0;
}

h2, h3{
    font-size: 1.75rem;
}

h4{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.35rem;
    text-align: center;
}

p{
    max-width: 65ch;
}

a{
    color: var(--dk-gray);
    text-decoration: none;
    display: block;
    text-align: center;
    max-width: auto;
}

/* Image styles */
img{
    width: 100%;
    max-width: 400px;
}

#img-grid{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* Header & navigation styles */
header a{
    text-transform: uppercase;
}

header > a, header img{
    grid-column: 1/2;
    width: 110px;
}

nav{
    grid-column: 2/3;
    grid-row: 1/2;
}

h1, header p{
    grid-column: 1/-1;
}

header > p{
    margin: 0 1.75rem;
}

/* Dropdown menu styles */
nav label{
    background-color: var(--yellow);
    text-transform: uppercase;
}

nav a{
    background-color: var(--teal);
    color: var(--dk-gray);
    text-decoration: none;
    border-bottom: 1px solid var(--dk-gray);
}

nav a:hover{
    background-color: var(--white);
}

#menu-toggle{
    display: block;
    position: relative;
    z-index: 1;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

#menu-toggle input{
    display: block;
    width: 170px;
    height: 40px;
    position: absolute;
    top: -7px;
    left: -5px;  
    padding: 0;
    cursor: pointer;  
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */  
    -webkit-touch-callout: none;
}

#menu-toggle label{
    position: relative;
    display: block;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 42px;
    font-size: 0.75rem;
    font-weight: bold;
}

#menu-toggle input, #menu-toggle label{
    margin-left: auto;
}

#menu-toggle input:checked + label{
    background-color: var(--dk-gray);
    color: var(--white);
}

#menu-toggle ul{
    position: absolute;
    width: 170px;
    list-style-type: none;
    background-color: var(--teal);
    font-size: 0.75rem;
    font-weight: bold;
    /* Hide the menu off-screen to the left */
    left: -10000px;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease; 
}

#menu-toggle input:checked ~ ul {
    left: 40px;
}

/* Intro section */
#intro h2, #intro p{
    padding: 0 2rem;
}

#intro p{
    font-size: 0.75rem;
    line-height: 1.8;
}

#plan, #testimonials, #about, #contact{
    padding: 1.5rem 2rem 2rem;
}

/* Plan section */
#plan{
    background-color: var(--yellow);
}

#plan h4{
    font-size: 1.25rem;
}

#plan div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

#plan section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--teal);
    border: 2px solid var(--white);
    border-radius: 7px;
    width: 270px;
    height: 220px;
}

#plan img{
    width: 100%;
    max-width: 170px;
    max-height: 150px;
}

/* Testimonials */
#testimonials div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials img{
    width: 100%;
    max-width: 150px;
}

#testimonials h4{
    max-width: 14ch;
}

q{
    font-style: italic;
    quotes: auto;
    text-align: center;
    max-width: 230px;
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

/* About */
#about{
    background-color: var(--blue);
}

#about h4{
    font-size: 1rem;
}

#about section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about img{
    max-width: 80px;
    height: 80px;
}

#about p{
    text-align: center;
}

/* Contact */
.form-required{
    font-family: var(--body);
    font-style: italic;
    font-size: 0.75rem;
    font-weight: normal;
}

.required{
    color: var(--purple);
    font-size: 1.35rem;
    font-weight: normal;
}

#contact label, legend{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Footer */
footer{
    background-color: var(--lt-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer p, footer a{
    font-size: 0.75rem;
}

/* Media queries */
@media screen and (min-width: 768px) {
    header{
        grid-template-columns: repeat(4, 1fr);
    }

    #menu-toggle input, #menu-toggle label{
        visibility: hidden;
    }

    nav ul{
        visibility: visible;
        position: static;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1240px) {

}